<mat-card class="mat-card">
  <mat-card-actions>
    <br>
    <div *ngIf="!fixeddate">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="this.date" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div *ngIf="fixeddate">
      {{fixdate}}
    </div>
    <div>
      <mat-form-field class="alignData">
        <mat-select required placeholder="Type of Election" [(ngModel)]="eletiontype">
          <mat-option *ngFor="let election of eletiontypes" [value]="election">
            {{election}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
        <mat-card-actions>
          <button mat-button (click)="newElection()">new Election</button>
        </mat-card-actions>
    </div>
    <br>
  </mat-card-actions>
</mat-card>

<mat-card>
  <div>
    <div *ngFor="let election of elections">
      <mat-option (click) ="selectedElection(election)">{{election.electionType}}    {{election.currentDate}}</mat-option>
    </div>
  </div>
</mat-card>

