* {
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.mat-card {
  background-color: white;
  margin: 2% 10% 4% auto;
  float: right;
}

.mat-card-schulsprecher {
  width: 30%;
  min-height: 450px;
}

.example-full-width {
  max-height: 180px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  min-height: 190px;
  max-height: 200px;
  margin-bottom: 4%;
}


.schueler_text {
  padding-top: 6%;
}


.alignData {
  width: 80%;
  margin: auto;
}

#selectFile {
  margin: auto;
}

#uploadFile {
  margin-left: 2%;
}

.sendButton {
  margin-right: 2%;
}

.neuButton {
  margin-left: 7%;
  font-size: 15px;
  margin-top: 5%;
  cursor: pointer;
}

