.mat-card{
  margin-left: 7%;
  font-size: 15px;
  margin-top: 5%;
  cursor: pointer;
}

.candidates{
  float: none;
}

.updateCandidate{
  width:20%;
  height:750px;
  margin-left: 10%;
  margin-top: 5%;
  overflow: scroll;
  float:left;
}

.candidate{
  cursor: pointer;
}
